@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
	margin:0;
	padding:0;
	color:#000;
	font-family: Lato;
	box-sizing: border-box;
}

body {
    font-family: Lato;
    font-weight: 300;
}

.container{
    width:1440px;
	margin:0 auto;
}

header{
    width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header > h2 {
	margin-left:20px;
  font-size:27px;
}

header > nav {
	width:500px;
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:25px;
	height: 100%;
	display: flex;
	align-items: center;
    margin-left:-0px;
}

header ul > li>a{
  display:block;
  text-decoration:none;
}


label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    color: black;
    width: 120px;
    padding : 2px;
    text-align:left;
}

main > section {
    display: none;
    padding: 20px 5px;
}

section#viewHome {
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(blockchainimg.png);
    background-color: #9caec7;
	background-size: 500px;
	background-position: center;
  background-repeat: no-repeat;
	width:100%;
	height:700px;
    

    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

section#viewHome > h2 {
	font-size:60px;
  color: white;
}

section#viewHome > ul > li  {
  color: white;
}

section#viewHome > p {
	margin: 30px 0;
    font-size:20px; 
  color: white;
}

.btn {	
	width:140px;
    margin: 20px;
	padding: 8px 2px;
	border:3px solid #ddd;
	background-color: #000000;
	border-radius: 4px;
  color: white;
}

.btn:hover {
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}
section#viewSubmitDocument {
  background-color:#d9e1e8;
  background-size: cover;
  background-position: 0% 20%;
  width:100%;
  height:700px;
  
      display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}


section#viewSubmitDocument > h4{
  font-size:40px;
  text-align:center;
  padding:1em
}

section#viewSubmitDocument > h3{
  margin:10px;
  font-size:30px;
  text-align:center;
}

section#viewSubmitDocument > p{
  margin:20px;
  text-align:center;
}

form {
  text-align:center;
    /* Just to center the form on the page */
    margin: 0 auto;
    width:500px;
    /* To see the outline of the form */
    padding: 2.5em;
    border: 4px solid #9caec7;
    border-radius: 1.8em;
    font-size:17px;
}

section#viewVerifyDocument > h4{
  font-size:40px;
  text-align:center;
  padding:1em
}

section#viewVerifyDocument > h3{
  margin:10px;
  font-size:30px;
  text-align:center;
}

section#viewVerifyDocument > p{
  margin:20px;
  text-align:center;
}

#itemUploadButton{
  /* margin-right:-6px; */
  width:100px;
  border:2px solid  #9caec7;
  background-color:white;
  padding:5px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}

#showTableButton{
  margin-right:-6px;
  width:100px;
  border:2px solid  #9caec7;
  background-color:white;
  padding:5px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

#deletecertButton{
  margin-left:-3px;
  width:100px;
  border:2px solid  #9caec7;
  background-color:white;
  padding:5px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}

#itemUploadButton:hover, #showTableButton:hover, #deletecertButton:hover {
  color:white;
  background-color: #9caec7;
}

#viewVerifyDocument{
  background-color:#e1eef6;
  padding: 10px;
  text-align:center;
  background-size: cover;
  background-position: 0% 20%;
  width:100%;
  height:700px;
  display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

#viewVerifyDocument>h1{
  font-size:30px;
  text-align:center;
  padding:1em
}

#documentVerifyButton{
  width:100px;
  border:2px solid  #9caec7;
  background-color:white;
  padding:5px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}

#documentVerifyButton:hover{
    color:white;
  background-color: #9caec7;
}


#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

#infoBox>p, #errorBox>p, #loadingBox>p {
  height: 50px;
}

#infoBox>header, #errorBox>header, #loadingBox>header {
    float: right;
    margin-right: 5px;
}

#infoBox>header:hover, #errorBox>header:hover, #loadingBox>header:hover {
    transition: all 0.2s;
    font-weight: bold;
    cursor: pointer;    
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

footer {
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  top: 50%;
  left: 50%;
  width: 800px; /* Could be more or less, depending on screen size */                          
}
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table{
  border-collapse: collapse;
}

th{
  color: #168;
  border-right: 3px solid #d9e1e8;
}

th, td{
  padding: 5px 5px;
}



tr:nth-child(2n+0){background-color: #d9e1e8;}